YOUTUBE_BASE_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_API_KEY=replace-with-your-real-api-key
YOUTUBE_TIMEOUT_SECONDS=60
YOUTUBE_MAX_RETRIES=4
YOUTUBE_RETRY_BACKOFF_SECONDS=1.5
YOUTUBE_RETRY_BACKOFF_MULTIPLIER=2.0
YOUTUBE_MIN_REQUEST_INTERVAL_SECONDS=0.6
YOUTUBE_COMMENTS_PAGE_SIZE=100
YOUTUBE_MAX_VIDEOS_PER_RUN=50
YOUTUBE_MAX_THREAD_PAGES_PER_RUN=20
YOUTUBE_MAX_REPLY_PAGES_PER_RUN=40
YOUTUBE_MAX_THREADS_PER_RUN=1000
YOUTUBE_MAX_COMMENTS_PER_RUN=5000
YOUTUBE_MAX_RETRY_AFTER_SECONDS=120
YOUTUBE_USER_AGENT=youtube-comments-fetch/1.0
