NASA_FIRMS_BASE_URL=https://firms.modaps.eosdis.nasa.gov
NASA_FIRMS_MAP_KEY=
NASA_FIRMS_TIMEOUT_SECONDS=60
NASA_FIRMS_MAX_RETRIES=4
NASA_FIRMS_RETRY_BACKOFF_SECONDS=2.0
NASA_FIRMS_RETRY_BACKOFF_MULTIPLIER=2.0
NASA_FIRMS_MIN_REQUEST_INTERVAL_SECONDS=0.5
NASA_FIRMS_MAX_DAYS_PER_RUN=31
NASA_FIRMS_MAX_CHUNK_DAYS=5
NASA_FIRMS_MAX_ESTIMATED_TRANSACTIONS_PER_RUN=250
NASA_FIRMS_MAX_RETRY_AFTER_SECONDS=300
NASA_FIRMS_ENABLE_AVAILABILITY_PROBE=false
NASA_FIRMS_USER_AGENT=nasa-firms-fire-fetch/1.0
