OPEN_METEO_FLOOD_BASE_URL=https://flood-api.open-meteo.com/v1/flood
OPEN_METEO_FLOOD_API_KEY=
OPEN_METEO_FLOOD_TIMEOUT_SECONDS=45
OPEN_METEO_FLOOD_MAX_RETRIES=4
OPEN_METEO_FLOOD_RETRY_BACKOFF_SECONDS=1.5
OPEN_METEO_FLOOD_RETRY_BACKOFF_MULTIPLIER=2.0
OPEN_METEO_FLOOD_MIN_REQUEST_INTERVAL_SECONDS=0.4
OPEN_METEO_FLOOD_MAX_LOCATIONS_PER_RUN=10
OPEN_METEO_FLOOD_MAX_DAYS_PER_RUN=366
OPEN_METEO_FLOOD_MAX_DAILY_VARIABLES_PER_RUN=8
OPEN_METEO_FLOOD_MAX_RETRY_AFTER_SECONDS=120
OPEN_METEO_FLOOD_DEFAULT_TIMEZONE=GMT
OPEN_METEO_FLOOD_DEFAULT_CELL_SELECTION=nearest
OPEN_METEO_FLOOD_USER_AGENT=open-meteo-flood-fetch/1.0
