GDELT_GKG_BASE_URL=http://data.gdeltproject.org/gdeltv2
GDELT_TIMEOUT_SECONDS=60
GDELT_MAX_RETRIES=4
GDELT_RETRY_BACKOFF_SECONDS=1.5
GDELT_RETRY_BACKOFF_MULTIPLIER=2.0
GDELT_MIN_REQUEST_INTERVAL_SECONDS=0.4
GDELT_MAX_FILES_PER_RUN=20
GDELT_USER_AGENT=gdelt-gkg-fetch/1.0
