OPEN_METEO_AIR_QUALITY_BASE_URL=https://air-quality-api.open-meteo.com/v1/air-quality
OPEN_METEO_AIR_QUALITY_API_KEY=
OPEN_METEO_AIR_QUALITY_TIMEOUT_SECONDS=45
OPEN_METEO_AIR_QUALITY_MAX_RETRIES=4
OPEN_METEO_AIR_QUALITY_RETRY_BACKOFF_SECONDS=1.5
OPEN_METEO_AIR_QUALITY_RETRY_BACKOFF_MULTIPLIER=2.0
OPEN_METEO_AIR_QUALITY_MIN_REQUEST_INTERVAL_SECONDS=0.4
OPEN_METEO_AIR_QUALITY_MAX_LOCATIONS_PER_RUN=10
OPEN_METEO_AIR_QUALITY_MAX_DAYS_PER_RUN=92
OPEN_METEO_AIR_QUALITY_MAX_HOURLY_VARIABLES_PER_RUN=16
OPEN_METEO_AIR_QUALITY_MAX_RETRY_AFTER_SECONDS=120
OPEN_METEO_AIR_QUALITY_DEFAULT_TIMEZONE=GMT
OPEN_METEO_AIR_QUALITY_DEFAULT_DOMAIN=auto
OPEN_METEO_AIR_QUALITY_DEFAULT_CELL_SELECTION=nearest
OPEN_METEO_AIR_QUALITY_USER_AGENT=open-meteo-air-quality-fetch/1.0
